.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.main-content {
  flex: auto;
  display: grid;
  grid-template-columns: auto 1fr;
}

.font-small {
  font-size: min(2.5vw, 14px);
}

.font-large {
  font-size: min(3vw, 20px);
}

.italic {
  font-style: italic;
}

.form-field label {
  align-self: flex-start;
}

.form-field input {
  align-self: stretch;
}

.form-error {
  color: red;
}