header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: 1px solid black;
  background-color: rgb(200, 225, 255);
}

.site-branding {
  display: flex;
  align-items: center;
  gap: 8px;
}

.site-branding img {
  height: auto;
  width: min(7.5vw, 60px);
}

.header-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logout-button {
  font-size: medium;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (max-width: 600px) {
  .site-branding h1 {
    display: none;
  }
}