.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-banner {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.landing-banner > div {
  text-align: center;
}