.post-card {
  position: relative;
}

.post-card button {
  background-color: transparent;
  border: none;
}

.card-content {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.post-info {
  flex: auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.post-info > div:first-child {
  flex: auto;
}

.post-card-title {
  font-weight: bold;
}

.post-info .lc-counts {
  align-self: flex-end;
}

.card-dates {
  display: flex;
  flex-direction: column;
  font-size: small;
  font-style: italic;
}

.post-thumbnail img {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  max-width: 150px;
  max-height: 150px;
}

.show-post-actions {
  width: 24px;
  height: auto;
  align-self: flex-start;
}

.post-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif;
}

.post-actions button {
  font-size: medium;
}