.post-widget {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.widgets {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.widgets .counter {
  padding-bottom: 8px;
  border-bottom: 1px solid black;
}

.widget {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.widget > p {
  text-align: center;
}

.widget-label {
  font-size: min(2.5vw, 18px);
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .widgets {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}