.post-widget {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.widget {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.widgets {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.widget-label {
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .widgets {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}