.post-form {
  width: 75vw;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-field {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-field label {
  font-size: small;
}

.form-field.title-field {
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}

#title {
  padding: 8px;
  font-weight: bold;
  align-self: stretch;
}

.tags-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: small;
}

.tags-label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tags-label button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: larger;
}

.tag-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.form-field.img-field > label {
  align-self: center;
}

#imgFile {
  border: none;
  padding: 0px;
  border-radius: 0px;
}

.submit-btn {
  align-self: center;
  padding: 8px 16px;
  font-weight: bold;
  color: white;
  background-color: navy;
  border-radius: 8px;
}